---
import Layout from "../layouts/Layout.astro";
import getData from "../data.js";

var locate = "London";
var data = await getData(locate);
---

<Layout>
  <nav class="nav">
    <header class="header">
      <img src="/src/images/cloud.svg" alt="cloud" class="white-svg" />
      <h1 class="title">Weather</h1>
    </header>
    <div id="locate">
      <input
        id="locateInput"
        type="search"
        placeholder="Search for a location..."
      />
      <img src="/src/images/search.svg" alt="search" class="white-svg" />
    </div>
  </nav>

  <main class="main">
    {
      data ? (
        <>
          <h2 class="subtitle" id="place">
            {data.location.name}, <small> {data.location.country} </small>
          </h2>
          <div class="cart">
            <div class="weather">
              <h2 class="subtitle" id="temp">
                {data.current.temp_c}c°
              </h2>
              <p class="gray">{data.current.condition.text}</p>
              <div class="gray" id="details">
                <p>Feels like: {data.current.feelslike_c}c°</p>
                <p>Humidity: {data.current.humidity}%</p>
                <p>Wind: {data.current.wind_kph}km/h</p>
              </div>
            </div>
            <img
              src={data.current.condition.icon}
              alt="time"
              width="150"
              height="150"
            />
          </div>
        </>
      ) : (
        <div class="loader" />
      )
    }
  </main>
</Layout>

<style>
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 100px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .white-svg {
    filter: invert(100%);
  }

  #locate {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    background-color: #444;
    border-radius: 15px;
    height: 50%;
    box-sizing: border-box;
  }

  #locateInput {
    width: 200px;
    padding: 15px;
    border: none;
    background-color: #444;
    color: aliceblue;
  }

  #place,
  #temp {
    font-size: 3rem;
  }

  .cart {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    background-color: #ddd;
    border-radius: 15px;
    padding: 0;
    margin: 0;
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
  }

  #details {
    margin: 50px 0px;
  }
</style>
